@keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
    transform: translateY(0) rotateX(0deg); }
  100% {
    -webkit-transform: translateY(15px) rotateX(90deg);
    transform: translateY(15px) rotateX(90deg); } }

.slide-rotate-hor-bottom {
  -webkit-animation: slide-rotate-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-rotate-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes slide-rotate-hor-top {
  0% {
    -webkit-transform: translateY(15px) rotateX(90deg);
    transform: translateY(15px) rotateX(90deg); }
  100% {
    -webkit-transform: translateY(0) rotateX(0deg);
    transform: translateY(0) rotateX(0deg); } }

.slide-rotate-hor-top {
  -webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-rotate-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4); }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

.scale-up-hor-center {
  -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --primary-color: #ffe142; }

body {
  box-sizing: border-box;
  background-color: var(--primary-color); }

html {
  font-size: 62.5%;
  font-family: "SF Compact Display", sans-serif; }

@font-face {
  font-family: "SF Compact Display";
  font-weight: 400;
  src: url("/public/fonts/SFCompactDisplay-Regular.otf"); }

@font-face {
  font-family: "SF Compact Display";
  font-weight: 500;
  src: url("/public/fonts/SFCompactDisplay-Medium.otf"); }

@font-face {
  font-family: "SF Compact Display";
  font-weight: 600;
  src: url("/public/fonts/SFCompactDisplay-Bold.otf"); }

.text-bold {
  font-weight: 600; }

.heading-primary {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center; }

.center-text {
  text-align: center; }

.small-light-text {
  font-size: 1.4rem; }

.medium-light-text {
  font-size: 1.8rem; }

.large-text {
  font-size: 20rem; }

.m-bottom-small {
  margin-bottom: 1.4rem; }

.m-bottom-medium {
  margin-bottom: 3.2rem; }

.hidden {
  opacity: 0;
  display: none;
  visibility: hidden; }

.advanced-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
  padding: 3rem 0;
  border-radius: 1rem;
  background-color: black;
  color: var(--primary-color); }
  .advanced-info__item {
    text-align: center;
    flex: 1; }
  .advanced-info__value {
    font-size: 1.8rem;
    font-weight: 500; }
  .advanced-info__img {
    width: 3.5rem;
    fill: var(--primary-color); }

.btn {
  background: transparent;
  border: 0; }

.suggestion {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 1rem 0; }
  .suggestion__name {
    font-size: 1.6rem; }
  .suggestion__description {
    font-size: 1.8rem;
    text-overflow: ellipsis; }
  .suggestion:hover {
    filter: brightness(80%); }

.today-forecast__date {
  color: var(--primary-color);
  background-color: black;
  width: 50%;
  line-height: 1.6;
  max-width: 300;
  border-radius: 2rem;
  margin: 0 auto 1.8rem; }

.today-forecast__daily-summary {
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 2.4rem; }

.weekly-forecast {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  padding-bottom: 2rem; }
  .weekly-forecast__item {
    flex: 1;
    text-align: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 2rem 1rem; }
  .weekly-forecast__date {
    font-size: 1.4rem; }
  .weekly-forecast__max-temp {
    font-size: 1.8rem;
    font-weight: 500; }
  .weekly-forecast__weathercode {
    width: 1.8rem; }

.header {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  grid-template-rows: 1fr;
  padding-top: 2rem;
  position: relative; }
  .header__searchbar-input {
    background: transparent;
    border: 0;
    font-size: 1.8rem;
    font-family: "SF Compact Display", sans-serif; }
    .header__searchbar-input:focus {
      outline: none; }
  .header__suggestions-container {
    position: absolute;
    top: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    max-height: 20rem;
    height: auto;
    overflow-y: auto;
    background-color: var(--primary-color);
    border-bottom: 2px solid black;
    z-index: 9999;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-rows: auto; }

.main {
  padding: 0 3.6rem; }
