*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #ffe142;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-color);
}

html {
  font-size: 62.5%;
  font-family: "SF Compact Display", sans-serif;
}
